USE [SQLInjection]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/04/2020 4:36:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[ProdName] [varchar](50) NOT NULL,
	[Cost] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
